div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    div.container
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="/") Home
                li
                    a(href="/create") Create
